include ../partials/header

section.camp-wrapper
    div.camp-display
        div.campsite-nav
            a(href="/campgrounds") Back
        div.campsite-container
            div.campsite-img
                img(src="" + camp.imagePath + "")
            div.campsite-caption
                h3 #{camp.name}
                p  #{camp.description}
                - if (currentUser && camp.author.id.equals(currentUser._id)) {
                    div.campsite-buttons
                        a(href="/campgrounds/" + camp._id + "/edit") Edit
                        form(action="/campgrounds/"+ camp._id +"?_method=DELETE" method="POST").campsite-form
                            input(type="hidden" name="_csrf" value=""+ csrfToken +"")
                            input(type="submit" value="Delete").danger
                - }

    div.clearfix


section.campsite-comments-wrapper
    div.campsite-comments-display
        div.campsite-add-comments
            h2 Reviews and Comments
            - if (!currentUser) {
                a(href='/login') Add Comment
            - }
        div.campsite-comments
            - if (camp.comments.length > 0) {
                - camp.comments.forEach(function(comment) {
                    ul
                        li #{comment.author.username}
                            p #{comment.date}
                        li #{comment.text}
                        - if (currentUser && currentUser.id == comment.author.id) {
                            button(data-id=""+comment.id+"").remove-comment DEL
                        - }
                        div.clearfix
                - })
            - } else {
                h2 No Comments Yet
            - }

        div.campsite-comment-form
            - if (currentUser) {
                input(type="text" placeholder="Add your comments..")#comment-input
                input(type="hidden" value=""+currentUser.name+"")#comment-user
                button#submit-comment Add Comment
            - }
            div.clearfix
div.clearfix



include ../partials/footer
